.header {
  /* width: 100%; */
  background-color: #000034;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  padding: 4px 10px;
  border: 0;
  outline: 0;
  background-color: white;
  color: #000034;
  border-radius: 2px;
  cursor: pointer;
}

.layout {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
  /* background-color: blue; */
  margin: 20px auto;
}
.canvas_container h3,
.table_container h3 {
  font-weight: 500;
  margin-bottom: 10px;
  color: #868c98;
}
.canvas_layout {
  border: 1px solid #000034;
  border-radius: 3px;
  max-width: 700px;

  /* max-height: 450px; */
}

.table_wrapper {
  overflow-x: auto;
}

.table_wrapper_mobile_container {
  display: none;
}

.table_wrapper_mobile {
  padding: 20px;
  margin: 0.7rem 0.1rem;
  border-radius: 10px;
  border: 1px solid #0a0d14;
}

.table_rec_size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0.1rem;
}
.table_rec_size p {
  font-weight: 400;
  font-size: 14px;
  color: #868c98;
}
.table_rec_size h4 {
  font-weight: 500;
  color: #0a0d14;
  font-size: 18px;
}

table {
  /* width: 100%; */
  min-width: 100%;
  white-space: nowrap;

  table-layout: auto;
  border-collapse: collapse;
}
thead {
  background-color: #000034;
  white-space: nowrap;
}
th {
  font-size: 12px;
  font-weight: 400;
  padding: 3px 6px;
  color: white;
  text-align: center;
  white-space: nowrap;
}

td {
  font-size: 12px;
  font-weight: 400;
  padding: 3px 6px;
  color: #000034;
  text-align: center;
  white-space: nowrap;
}

td button {
  outline: none;
  border: 0;
  background-color: red;
  padding: 4px 4px;
  font-size: 9px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.canva_footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.canva_footer button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.canva_footer button:first-child {
  background-color: #000034;
  color: white;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0rem 0.5rem;
}

.solid_btn {
  background-color: #000034;
  color: white;
}

.outline_btn {
  border: 1px solid #000034;
  color: #000034;
  background-color: white;
}

.danger_btn {
  border: 1px solid red;
  color: red;
  background-color: white;
}

.canva_footer button:last-child {
  border: 1px solid #000034;
  color: #000034;
  background-color: white;
}

.header_nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_nav li {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* view rectangle styles */
.rectangle_container {
  padding: 20px;
}

.rectangle_container .header_text h3 {
  font-size: 20px;
  font-weight: medium;
  color: #0a0d14;
}

.rectangle_container .header_text p {
  font-size: 14px;
  font-weight: normal;
  color: #525866;
}

.table_wrapper_web {
  overflow-x: auto;
}

.rectangle_view_top_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rectangle_view_top_wrapper .rectangle_right_btn button {
  outline: none;
  border: 0;
  padding: 5px 12px;
  margin: 0.3rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn_isSorted {
  background-color: #000034;
  color: white;
}

.view_rectangle_table {
  margin-top: 30px;
}
.view_canvas_container {
  margin: 30px auto;
  display: flex;
  gap: 30px;
  padding: 20px;
}

.canvas_view_details p {
  font-weight: 400;
}

.canvas_view_details span {
  font-weight: bold;
  font-size: 16px;
}
.view_rectangle_canvas {
  border: 1px solid #000034;
}

.table_view_rectangle_active {
  background-color: #a8a8e7;
  cursor: pointer;
}

.table_view_rectangle {
  cursor: pointer;
}
.empty_table_wrapper {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 6px;
  padding: 30px;
}

.empty_table_wrapper h5 {
  font-size: 20px;
  font-weight: 600;
  color: #000034;
}

.empty_table_wrapper p {
  color: #525866;
}

@media (max-width: 768px) {
  .table_wrapper {
    display: none;
  }

  .table_wrapper_mobile_container {
    display: block;
  }

  .view_canvas_container {
    display: block;
  }

  .view_canvas_mobile {
    width: 100%;
    overflow-x: auto;
    /* max-height: 500px; */
    margin: 0.5rem auto;
  }

  .layout {
    display: block;
  }

  .header button {
    display: none;
  }

  .table_container {
    margin-top: 30px;
  }
}
