.header {
  /* width: 100%; */
  background-color: #000034;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  padding: 4px 10px;
  border: 0;
  outline: 0;
  background-color: white;
  color: #000034;
  border-radius: 2px;
  cursor: pointer;
}

.layout {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
  /* background-color: blue; */
  margin: 20px auto;
}
.canvas_container h3,
.table_container h3 {
  font-weight: 500;
  margin-bottom: 10px;
  color: #868c98;
}
.canvas_layout {
  border: 1px solid #000034;
  border-radius: 3px;
  max-width: 700px;

  /* max-height: 450px; */
}

table {
  width: 100%;
  table-layout: auto;
}
thead {
  background-color: #000034;
}
th {
  font-size: 12px;
  font-weight: 400;
  padding: 3px 6px;
  color: white;
  text-align: center;
}

td {
  font-size: 12px;
  font-weight: 400;
  padding: 3px 6px;
  color: #000034;
  text-align: center;
}

td button {
  outline: none;
  border: 0;
  background-color: red;
  padding: 4px 4px;
  font-size: 9px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.canva_footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.canva_footer button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.canva_footer button:first-child {
  background-color: #000034;
  color: white;
}

.canva_footer button:last-child {
  border: 1px solid #000034;
  color: #000034;
  background-color: white;
}

.header_nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_nav li {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* view rectangle styles */
.rectangle_container {
  padding: 20px;
}

.rectangle_container .header_text h3 {
  font-size: 20px;
  font-weight: medium;
  color: #0a0d14;
}

.rectangle_container .header_text p {
  font-size: 14px;
  font-weight: normal;
  color: #525866;
}
.view_rectangle_table {
  margin-top: 30px;
}
.view_canvas_container {
  margin: 30px auto;
  display: flex;
  gap: 30px;
  padding: 20px;
}

.canvas_view_details p {
  font-weight: 400;
}

.canvas_view_details span {
  font-weight: bold;
  font-size: 16px;
}
.view_rectangle_canvas {
  border: 1px solid #000034;
}

.table_view_rectangle_active {
  background-color: #a8a8e7;
  cursor: pointer;
}

.table_view_rectangle {
  cursor: pointer;
}
